.player-heder{
  text-align: center;
  
}
.players{

  padding: 10px;
  display: flex;
  flex-wrap: wrap;

}
.left-Content{
  
  flex-basis: 65%;



}
.right-content{
  background-color: antiquewhite;
  flex-basis: 27%;



}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
